/* finger-paint-regular - latin */
@font-face {
  font-family: "Finger Paint";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("../fonts/finger-paint-v15-latin/finger-paint-v15-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/finger-paint-v15-latin/finger-paint-v15-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("../fonts/finger-paint-v15-latin/finger-paint-v15-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/finger-paint-v15-latin/finger-paint-v15-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */
      url("../fonts/finger-paint-v15-latin/finger-paint-v15-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/finger-paint-v15-latin-regular.svg#FingerPaint")
      format("svg"); /* Legacy iOS */
}
